body {
	border: 0px;
	padding: 0px;
  position: relative;
  background-color: rgba(0,0,0,0.6);
}

.heading {
  text-align: center;
  margin: 60px 0px 0px 0px;
  color: white;
  font-family: arial;
}

.container {
  margin-top: 60px;
	display: flex;
	justify-content: space-around;
}

.single-img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}


.single-img img {
	width: 100%;
}


#magnifying_area{
  width: 700px;
  height: 400px;
  overflow:hidden;
  box-shadow: 0px 0px 4px white;
  position: relative;
}
#magnifying_area img{
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  pointer-events: none;
}
.my {
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

.my img {
  width: 100%;
}
.mess {
  display: none;
}


@media screen and (max-width: 880px) {
  .heading,
  .container {
    display: none;
  }


  .mess {
    font-size: 25px;
    color: white;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: arial;
  }
}